<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMS</title>
    <link rel="stylesheet" href="css/lol.css">
</head>

<body>

<h1>Forget</h1>
<% if(typeof message!=='undefined'){%>
    <h4><%= message %></h4>
    <%
} %>


<form action="/forget" method="post">

    <input type="email" name="email" required placeholder="Enter email">
    <br><br>
    <input type="submit" value="Send Reset Link">



</form>


<% include('../layouts/footer.ejs') %>
