<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/host.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  </head>
  <body>
    <div class="l">
      <span class="logo"><i class="fa-solid fa-code"></i></span>
      <h1 class="CR">Coder-Ranks</h1>
    </div>

    <div class="container">
      <h1>Examination Details</h1>

      <div class="contact-box">
        <div class="contact-left">
          <form class="" action="/formpost" method="post">
            <div class="input-row">
              <div class="input-group">
                <label for="">Time of <td></td>Test</label>
                <input type="time" name="time1" value="">
              </div>
              <div class="input-group">
                <label for="">Time Limit </label>
                <input type="text" name="timelimit" value="" placeholder="in mins..">
              </div>

            </div>
            <label>Question</label>
            <textarea name="question" rows="5" placeholder="Write your question here.."></textarea>

            <label>Solution</label>
            <textarea  name="solution" rows="10" placeholder="Write the solution.."></textarea>
            <button class="subbutton" type="submit" name="button">SEND</button>
            <div class="testname">
              <label for="">Test Name </label>
              <input type="text" name="testname" value="" placeholder="..">
            </div>
          
        </div>
        <div class="contact-right">
          <textarea class="testcase" name="tc1" placeholder="Test Case 1"></textarea><i class="fa-solid fa-arrow-right arrow"></i>
          <textarea class="tcsolution" name="s1" placeholder="solution.."></textarea>
          <br>
          <textarea class="testcase" name="tc2" placeholder="Test Case 2"></textarea><i class="fa-solid fa-arrow-right arrow"></i>
          <textarea class="tcsolution"  name="s2"placeholder="solution.."></textarea>
          <br>
          <textarea class="testcase" name="tc3" placeholder="Test Case 3"></textarea><i class="fa-solid fa-arrow-right arrow"></i>
          <textarea class="tcsolution" name="s3" placeholder="solution.."></textarea>
          <br>
          <textarea class="testcase" name="tc4" placeholder="Test Case 4"></textarea><i class="fa-solid fa-arrow-right arrow"></i>
          <textarea class="tcsolution" name="s4" placeholder="solution.."></textarea>
          <br>
          <textarea class="testcase" name="tc5" placeholder="Test Case 5"></textarea><i class="fa-solid fa-arrow-right arrow"></i>
          <textarea class="tcsolution" name="s5" placeholder="solution.."></textarea>
          <br>
          <textarea class="testcase" name="tc6" placeholder="Test Case 6"></textarea><i class="fa-solid fa-arrow-right arrow"></i>
          <textarea class="tcsolution" name="s6" placeholder="solution.."></textarea>


        </div>
      

      </div>
    </div>
  </form>
  </body>
</html>
