<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="css/question.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  </head>
  <body>
    <span class="logo"><i class="fa-solid fa-code"></i></span>
    <h1 class="CR">Coder-Ranks</h1>
    
   <ul class="akash">
     <li>
       <span class="number">1.</span>
       <span class="name">Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.</span>
       <span class="points"></span>
       <span class="badge">easy</span>

     </li>
     <li>
       <span class="number">2.</span>
       <span class="name">Given two sorted arrays nums1 and nums2 of size m and n respectively, return the median of the two sorted arrays.</span>
       <span class="points"></span>
       <span class="badge" style="background-color: #D9534F;">hard</span>

     </li>
     <li>
       <span class="number">3.</span>
       <span class="name">You are given an integer array height of length n. There are n vertical lines drawn such that the two endpoints of the ith line are (i, 0) and (i, height[i]).</span>
       <span class="points"></span>
       <span class="badge" style="background-color: #F0AD4E;">medium</span>

     </li>
     <li>
       <span class="number">4.</span>
       <span class="name">Given an integer array nums of length n and an integer target, find three integers in nums such that the sum is closest to target.

Return the sum of the three integers.

You may assume that each input would have exactly one solution</span>
       <span class="points"></span>
       <span class="badge" style="background-color: #F0AD4E;">medium</span>

     </li>
     <li>
       <span class="number">5.</span>
       <span class="name">Given an unsorted integer array nums, return the smallest missing positive integer.

You must implement an algorithm that runs in O(n) time and uses constant extra space.</span>
       <span class="points"></span>
       <span class="badge" style="background-color: #D9534F;">hard</span>

     </li>
     <li>
       <span class="number">6.</span>
       <span class="name">Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

A subarray is a contiguous part of an array.</span>
       <span class="points"></span>
       <span class="badge">easy</span>

     </li>
     <li>
       <span class="number">7.</span>
       <span class="name">Given an unsorted integer array nums, return the smallest missing positive integer.

You must implement an algorithm that runs in O(n) time and uses constant extra space.</span>
       <span class="points"></span>
       <span class="badge" style="background-color: #D9534F;">hard</span>

     </li>
     <li>
       <span class="number">8.</span>
       <span class="name">Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it can trap after raining.</span>
       <span class="points"></span>
       <span class="badge" style="background-color: #D9534F;">hard</span>

     </li>
     <li>
       <span class="number">9.</span>
       <span class="name">Given an m x n matrix, return all elements of the matrix in spiral order.</span>
       <span class="points"></span>
       <span class="badge" style="background-color: #F0AD4E;">medium</span>

     </li>
     <li>
       <span class="number">10.</span>
       <span class="name">You are given a large integer represented as an integer array digits, where each digits[i] is the ith digit of the integer. The digits are ordered from most significant to least significant in left-to-right order. The large integer does not contain any leading 0's.

Increment the large integer by one and return the resulting array of digits.</span>
       <span class="points"></span>
       <span class="badge">easy</span>

     </li>
   </ul>
  </body>
</html>
