<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/tag.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  </head>
  <body>
    <nav>
      <!-- <img src="CRlogo.png" alt="" class="logo"> -->
      <span class="logo"><i class="fa-solid fa-code"></i></span>
      <h1 class="CR">Coder-Ranks</h1>

      <ul>
        <li><a href="https://ayaan321.github.io/VideoChatApp/index.html">Home</a></li>
        <!-- <li><a href="">Practice</a></li> -->
        <li><a href="">Points</a></li>
        <li><a href="">My Marks</a></li>
        <li><a href="">Contacts</a></li>
        <li><a href="">My Profile</a></li>
      </ul>

    </nav>



    <div class="tag">
      <ul>
        <li><a href="question">Array</a></li>
        <li><a href="#">String</a></li>
        <li>Hash Table</li>
        <li>Dynamic Programming</li>
        <li>Greedy</li>
        <li>Tree</li>
        <li>Binary Search</li>
        <li>Matrix</li>
        <li>Binary Tree</li>
        <li>Stack</li>
        <li>Two Pointers</li>
        <li>Heap</li>
        <li>Link List</li>
        <li>Recursion</li>
        <li>Memoization</li>
        <li>Hash Function</li>
        <li>Doubly-Linked List</li>
        <li>Bucket Sort</li>
        <li>Shell</li>
        <li>Line Sweep</li>
        <li>Game Theory</li>
        <li>Math</li>
        <li>Strongly Connected Component</li>
        <li>Redix Sort</li>
        <li>Rejection Sampling</li>
        <li>Reservoir Sampling</li>
        <li>Suffix Array</li>
        <li>Brain Teaser</li>
        <li>Topological Sort</li>
        <li>Enumeration</li>
        <li>Sliding Window</li>
        <li>Design</li>
        <li>Union Find</li>
        <li>Concurrency</li>
        <li>Shortest Path</li>
        <li>Minimun Spanning Tree</li>
      </ul>
    </div>




  </body>
</html>
